* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Hanken Grotesk", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
body .container {
  height: 100%;
}
body .container header {
  background-image: linear-gradient(200deg, hsl(252, 100%, 67%), hsl(241, 81%, 54%));
  text-align: center;
  color: hsl(0, 0%, 100%);
  padding: 30px 0;
  border-radius: 0 0 30px 30px;
}
body .container header h3 {
  font-size: 18px;
  color: hsl(241, 100%, 89%);
  text-transform: capitalize;
  font-weight: 700;
  margin-top: 10px;
}
body .container header .circle {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  margin: 30px auto;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: linear-gradient(hsl(256, 72%, 46%), hsla(241, 72%, 46%, 0));
}
body .container header .circle h1 {
  font-size: 60px;
  font-weight: 800;
}
body .container header .circle h1 span {
  display: block;
  font-size: 16px;
  font-weight: 700;
  color: hsl(241, 100%, 89%);
  opacity: 0.5;
}
body .container header h4 {
  text-transform: capitalize;
  font-size: 25px;
  font-weight: 700;
  margin-bottom: 10px;
}
body .container header p {
  width: 70%;
  margin: auto;
  font-weight: 500;
  color: hsl(241, 100%, 89%);
  margin-bottom: 10px;
  letter-spacing: 0.5px;
}
body .container main {
  padding: 0 10px;
  margin-top: 10px;
}
body .container main h3 {
  color: hsl(224, 30%, 27%);
  font-weight: 800;
  font-size: 18px;
  margin: 25px 0;
  letter-spacing: 0.5px;
}
body .container main .content .box {
  padding: 0 20px;
  height: 55px;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
}
body .container main .content .box div {
  display: flex;
  align-items: center;
  gap: 15px;
}
body .container main .content .box div p {
  font-weight: 800;
  letter-spacing: 0.5px;
}
body .container main .content .box .ratio {
  color: hsl(224, 30%, 27%);
  font-weight: 800;
}
body .container main .content .box .ratio span {
  opacity: 0.5;
}
body .container main .content .box1 {
  background-color: rgba(255, 87, 87, 0.1);
}
body .container main .content .box1 p {
  color: hsl(0, 100%, 67%);
}
body .container main .content .box2 {
  background-color: rgba(255, 176, 31, 0.1);
}
body .container main .content .box2 p {
  color: hsl(39, 100%, 56%);
}
body .container main .content .box3 {
  background-color: rgba(0, 189, 145, 0.1);
}
body .container main .content .box3 p {
  color: hsl(166, 100%, 37%);
}
body .container main .content .box4 {
  background-color: rgba(17, 37, 212, 0.1);
}
body .container main .content .box4 p {
  color: hsl(234, 85%, 45%);
}
body .container footer {
  padding: 10px;
}
body .container footer button {
  all: unset;
  width: 100%;
  text-align: center;
  background-color: hsl(224, 30%, 27%);
  height: 60px;
  border-radius: 50px;
  color: hsl(0, 0%, 100%);
  font-size: 18px;
  font-weight: 800;
  letter-spacing: 0.5px;
}
body .th {
  position: relative;
}/*# sourceMappingURL=style.css.map */